body{
    font-family: 'Raleway', sans-serif;
}
#header{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
}
#nav-haut{
    display: flex;
    width: 30%;
}
.recherche{
    width: 150px;
    height: 60px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
.heb{
    border-top: 2px solid #0065FC;
    line-height: 78px;
    color: #0065FC;
}
.act{
    line-height: 80px;
    color: black;
}
.insc{
    line-height: 80px;
    color: #0065FC;
    font-weight: bold;
}
#loc{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
#map{
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#mars{
    width: 200px;
    height: 40px;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#bouton{
    width: 120px;
    height: 40px;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    color: white;
    background-color: #0065FC;
    font-size: 15px;
    border: none;
    font-weight: bold;
}
#barre{
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#filtres{
    font-weight: bold;
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selec{
    display: flex;
    height: 30px;
    text-align: center;
    border-radius: 17px;
    border: 2px solid #DEEBFF;
    margin-right: 30px;
}
.selec:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    border-radius: 15px;
}
.cat{
    display: flex;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    padding-right: 20px;
    border-radius: 13px;
}
.cat:hover{
    background-color: #F2F2F2;
}
#info{
    display: flex;
    width: 100%;
    height: 20px;
}
#circle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logement{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#haut{
    display: flex;
    padding-top: 20px;
}
#container{
    display: flex;
    width: 70% ;
    height: 530px;
    background-color: #F2F2F2;
    border-radius: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
        }
.container1{
    width: 33%;
    height: 200px;
    margin: auto;
}
.hebergement{
    width: 210px;
    height: 180px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    margin: auto
}
.hebergement:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
.image{
    width: 200px;
    height: 100px;
    padding: 5px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 0px;
}
#droite{
    display: flex;
    width: 30% ;
    height: 530px;
    background-color: #F2F2F2;
    border-radius: 15px;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
}
#TITRE{
    display: flex;
    justify-content: space-between;
}
#chart{
    padding-top: 15px;
    padding-right: 15px;
}
.populaire{
    display: flex;
    width: 300px;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 5px grey;
}
.populaire:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
.pop{
   width: 125px;
   height: 125px;
   padding: 5px;
   border-radius: 15px;
   object-fit: cover;
}
#Activités{
display: flex;
width: 100% ;
height: 500px;
background-color: white;
justify-content: space-around;
flex-wrap: wrap;
align-items: flex-start;
padding-top: 30px;
padding-bottom: 60px;
}
.Activ1{
width: 22%;
height: 440px;
background-color: white;
border-radius: 15px;
box-shadow: 5px 5px 5px grey;
}
.Activ1:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
.Activ2{
display: flex;
width: 22%;
height: 440px;
background-color: white;
border-radius: 15px;
flex-direction: column;
justify-content: space-between;
}
#Activ3{
    width: 100%;
    height: 240px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}
#Activ3:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
#Activ4{
    width: 100%;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}
#Activ4:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
.Activ5{
    width: 100%;
    height: 190px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}
.Activ5:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
.ACT1{
    width: 100%;
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
#ACT2{
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
#ACT3{
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.ACT4{
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
#plan{
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #F2F2F2;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 150px;
    padding-top: 30px;
}
.nuit{
    padding-left: 10px;
}
.nuitpop{
    padding-left: 10px;
    padding-bottom: 40px;
}
span{
    padding-left: 15px;
    padding-top: 0px;
}
h1{
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 5Px;
}
.gros{
    padding-left: 30px;
}
h2{
    font-size: 0.9rem;
    padding-left: 5px;
    margin: 5px;
}
p{
    padding-left: 5px;
    font-size: 14px;
    margin: 0px;
}
#afficher{
    width: 100%;
    font-size: 17px;
    padding-left: 25px;
    color: black;
    text-decoration: none;
    padding-top: 25px;
    font-weight: bold;
}
.lien{
    width: 100%;
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding-top: 5px;
}
/* Version mobile */
@media (max-width: 1000px){
    #trouvez{
        order: 2;
        width: 100%;
    }
    #nav-haut{
        order: 1;
        padding-top: 30px;
        width: 100%;
    }
    .heb{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        width: 50%;
    }
    .act{
        text-align: center;
        width: 50%;
    }
    .insc{
        position: absolute;
        top: 0px;
        right: 20px;
        text-align: right;
        line-height: 30px;
    }
    #Reservia{
        position: absolute;
        top: 0px;
        left: 20px
    }
    #barre{
        flex-direction: column;
    }
    .selec{
        width: 200px;
        margin-top: 10px;
    }
    #info{
        margin-top: 200px;
    }
    #haut{
        flex-direction: column;
        align-items: center;
    }
    #container{
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        border-radius: 0px;
        height: 1400px;
        order: 2;
        background-color: white;
        align-items: center;
        margin: 0px;
    }
    .container1{
        width: 300px;
    }
    .hebergement{
        width: 300px;
    }
    .image{
        width: 290px;
    }
    #droite{
        width: 100%;
        border-radius: 0px;
        order: 1;
        height: 600px;
        margin: 0px;
    }
    #TITRE{
        padding-top: 20px;
    }
    #Activités{
        flex-direction: column;
        height: 1030px;
        background-color: white;
        width: 100%;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 10px;
    }
    .Activ1{
        width: 300px;
        height: 140px;
    }
    .ACT1{
        height: 100px;
    }
    .Activ2{
        width: 300px;
        height: 300px;
    }
    #Activ3{
        height: 140px;
    }
    #ACT2{
        height: 100px;
    }
    .Activ5{
        height: 140px;
    }
    .ACT4{
        height: 100px;
    }
    #plan{
        flex-direction: column;
        height: 350px;
    }
    .item{
        width: 100%;
        padding-top: 10px;
        padding-left: 30px;
    }
}